/.idea
/source
/solrj.sellsto.me.iml
/.gradle
/build
/gradle-app.setting
/lib/main
/lib/test
/out
/server
/sources
/lib/compiler/scala-compiler-2.10.0-M1-virtualized.jar
/lib/compiler/scala-library-2.10.0-M1-virtualized.jar