/.idea
/source
/solrj.sellsto.me.iml
/server/*
/.gradle
/build
/build-solr
/gradle-app.setting
/lib/main/compile
/lib/main/provided
/lib/main/runtime
/lib/test/compile
/lib/test/runtime
/out

/server
/lib